.padre {
   padding: 5% 0;
}
.hijo {
   padding: 10% 0;
   text-align: center;
}
h1{
  font-family: 'Caveat', cursive;
}
.centrar{
  display: flex;
  justify-content: center;
}
.empezar{
border: solid 1px;
background-color: black;
padding: 10px 20px;
color:white;
text-align: center;
display: inline-block;
}